{% extends 'base.html' %}

{% load static %}

{% block styles %}

    <!-- Login_App Styles -->
    <link href="{% static 'login_app/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'login_app/css/responsive.css' %}" rel="stylesheet">

{% endblock %}

{% block main %}

    {% comment %}
    Confirm successful send of password reset.   User want's
    an email sent so the password can be changed.
    {% endcomment %}

    <div class="container">
        <div class="pagesection rounded-lg border shadow-lg py-3 px-5">

            <h3 class="text-secondary text-center mb-5">
                We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.
            </h3>

        </div>
    </div>

{% endblock %}