{% extends 'base.html' %}

{% load static %}

{% block styles %}

    <!-- Login_App Styles -->
    <link href="{% static 'login_app/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'login_app/css/responsive.css' %}" rel="stylesheet">

{% endblock %}

{% block main %}

    <div class="container">
        <div class="pagesection rounded-lg border shadow-lg py-3 px-5">

            {% comment %}
            Confirm that a password change was successful.   This is
            is not a reset(email).   Logged in user has changed the pwd.
            {% endcomment %}

            <h3 class="text-secondary text-center mb-5">
                Password Changed
            </h3>

        </div>
    </div>

{% endblock %}