{% extends 'base.html' %}

{% load static %}

{% block styles %}

    <!-- Login_App Styles -->
    <link href="{% static 'login_app/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'login_app/css/responsive.css' %}" rel="stylesheet">

{% endblock %}

{% block main %}

    {% comment %}
    Password reset form.   User want's an email sent so
    the password can be changed.
    {% endcomment %}

    <div class="container">
        <div class="pagesection rounded-lg border shadow-lg py-3 px-5">
            <h3 class="text-secondary text-center mb-5">
                Send Password Reset
            </h3>

            <form method="post">
                {% csrf_token %}
                <!-- ERROR'S -->
                {% if form.email.errors %}
                    <ul class="errorlist">
                        <li>
                            {{ form.email.errors }}
                        </li>
                    </ul>
                {% endif %}
                <!-- FORM CONTENT -->
                {{ form.as_p }}
                <!-- SUBMIT -->
                <input class="mt-4 mb-2" type="submit" value="Reset">
            </form>

        </div>
    </div>

{% endblock %}