{% extends 'base.html' %}

{% load static %}

{% block styles %}

    <!-- Login_App Styles -->
    <link href="{% static 'login_app/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'login_app/css/responsive.css' %}" rel="stylesheet">

{% endblock %}

{% block main %}

    {% comment %}
    Password Change form.   This is is not a reset(email).
    Here, the logged in user want's to change the password.
    {% endcomment %}

    <div class="container">
        <div class="pagesection rounded-lg border shadow-lg py-3 px-5">
            <h3 class="text-secondary text-center mb-5">
                Change Password
            </h3>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change">
            </form>

        </div>
    </div>

{% endblock %}