{% extends 'base.html' %}

{% load static %}

{% block styles %}

    <!-- Login_App Styles -->
    <link href="{% static 'login_app/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'login_app/css/responsive.css' %}" rel="stylesheet">

{% endblock %}

{% block main %}

    {% comment %}
    After user follows email link, the actual password
    reset form is display.   This is conformation of actual
    password reset.
    {% endcomment %}

    <div class="container">
        <div class="pagesection rounded-lg border shadow-lg py-3 px-5">

            <h3 class="text-secondary text-center mb-5">
                Password Reset Complete
            </h3>

            <a href="{% url 'login' %}">log in again?</a>

        </div>
    </div>

{% endblock %}