<!DOCTYPE html>
<html lang="en">

    {% load static %}

    <head>

        <title>Test Stripe with Django</title>

        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Send Email via AWS Website">
        <meta name="keywords" content="AWS, Email, Python, Django">
        <meta name="author" content="M Wilson">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- Bootstrap js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- Custom Main Project Styles -->
        <link href="{% static "stripe_project/css/style.css" %}" rel="stylesheet">
        <link href="{% static "stripe_project/css/responsive.css" %}" rel="stylesheet">

        <!--Extra Static Data-->
        {% block extra_static %}{% endblock %}

    </head>

    <body>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm bg-darkfade navbar-dark fixed-top">
            
            <!-- navbar-brand -->
            <a class="navbar-brand pt-0" href="{% url 'frontend' %}">
                <img class="logo-1" src="{% static 'stripe_project/img/logo.png' %}" alt="Send Email Image">
            </a>

            <!-- Collapse button -->
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'frontend' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stripe_test_data' %}">Test Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stripe_basic' %}">Basic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stripe_basic_sub' %}">Basic Sub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stripe_elements_checkout' %}">Checkout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stripe_elements_checkout2' %}">Checkout 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stripe_elements_sub' %}">Adv Sub</a>
                    </li>
                </ul>

            </div>
            <!-- End Collapsible content -->

        </nav>
        <!-- ====== end header ======  -->

        <main>
            <!--Main Block where the data goes-->
            {% block main %}{% endblock %}
        </main>

        <!--Extra Static Data-->
        {% block extra_footer_js %}{% endblock %}

    </body>
</html>