{% extends 'base.html' %}

{% load static %}

{% block main %}

    <!-- ==== Start Container ==== -->
    <div class="container">
        <div class="pagesection rounded border shadow-lg">
            <div class="row justify-content-center">
                <div class="text-primary text-center font-italic my-4 col-10 col-md-8">

                    <h5>Opps, sorry a 403 error (Forbidden) has occurred.</h5>

                </div>
            </div>
        </div>
    </div>
    <!-- ==== End Container ==== -->

{% endblock %}