{% extends 'base.html' %}

{% load static %}

{% block extra_static %}

    <!-- stripe_checkout_single Styles -->
    <link href="{% static 'stripe_checkout_single/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'stripe_checkout_single/css/responsive.css' %}" rel="stylesheet">

{% endblock %}


{% block main %}

    <div class="container">
        <div class="pagesection text-center p-3 rounded border shadow-lg">

        <!--
            See this for further customization:
            https://stripe.com/docs/payments/checkout/custom-success-page
        -->

        <!-- Basic Success Message-->
        Your subscription was successful !<br>
        We appreciate your business!
        If you have any questions, please email
        <a href="mailto:orders@example.com">orders@example.com</a>.
        <br>
        <br>

        <!-- More complicated - allow the user to edit their account-->
        <!-- Incorporate this into a user system/db in an advanced system -->
        If you would like to adjust your account, please use the following button:
        <form id="manage-billing-form">
            <button class="btn btn-secondary m-2">Manage Billing</button>
        </form>

        </div>
    </div>

{% endblock %}


{% block extra_footer_js %}

    <script type="text/javascript">

        /*------------------------------------------------------------
        In a production system we probably want to save the customer
        id in a database and have a seperate link to allow them to
        edit their subscription.
        ------------------------------------------------------------*/

        const urlParams = new URLSearchParams(window.location.search);
        const sessionId = urlParams.get("session_id")
        let customerId;

        if (sessionId) {
        fetch("{% url 'stripe_checkout_session' %}" + sessionId + "/")
            .then(function(result){
            return result.json()
            })
            .then(function(session){
            // We store the customer ID here so that we can pass to the
            // server and redirect to customer portal. Note that, in practice
            // this ID should be stored in your database when you receive
            // the checkout.session.completed event. This demo does not have
            // a database, so this is the workaround. This is *not* secure.
            // You should use the Stripe Customer ID from the authenticated
            // user on the server.
            customerId = session.customer;

            var sessionJSON = JSON.stringify(session, null, 2);
            document.querySelector("pre").textContent = sessionJSON;
            })
            .catch(function(err){
            console.log('Error when fetching Checkout session', err);
            });

        // In production, this should check CSRF, and not pass the session ID.
        // The customer ID for the portal should be pulled from the 
        // authenticated user on the server.
        const manageBillingForm = document.querySelector('#manage-billing-form');
        manageBillingForm.addEventListener('submit', function(e) {
            e.preventDefault();
            fetch("{% url 'stripe_sub_customer_portal' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                sessionId: sessionId
            }),
            })
            .then((response) => response.json())
            .then((data) => {
                window.location.href = data.url;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
        }

    </script>

{% endblock %}